.heading {
    font-size: 2vw;
    vertical-align: middle;
    line-height: 2vw;
    display: inline-block;
    padding-top: 0.33vw;
    padding-left: 0.33vw;
}

.container {
    display: flex;
    align-items: center;
    line-height: 2vw;
    position: absolute;
    margin-left: 1.33vw;
}
