.elsa-blue-btn, .light-btn {
    padding: 0.25em 1em 0;
    border: 0.03em solid var(--dark-grey);
    margin: 0.15em 0.15em;
}

.elsa-blue-btn:focus, .light-btn:focus {
    border: 0.03vw solid var(--dark-grey);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    span {
        font-size: .92em;
    }

    .text {
        font-size: .62em;
    }

    .responsive-img {
        font-size: 0.4em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    span {
        font-size: .92em;
    }

    .text {
        font-size: .62em;
    }

    .responsive-img {
        font-size: 0.6em;
    }
}

/* Large Phones in landscape mode */
@media (min-width: 768px) and (max-width: 991.98px) and (max-height: 499.98px) {
    span {
        font-size: .92em;
    }

    .text {
        font-size: .62em;
    }

    .responsive-img {
        font-size: 0.9em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 500px) {
    span {
        font-size: 1.25em;
    }

    .text {
        font-size: .95em;
    }

    .responsive-img {
        font-size: 0.9em;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    span {
        font-size: 1.2em;
    }

    .text {
        font-size: .9em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    span {
        font-size: 1.3em;
    }

    .text {
        font-size: 1em;
    }
}

.responsive-img {
    height: 15em;
    width: auto;
}




