/* Global Variables */
:root {
    --dark-grey: #47525E;
    --elsa-blue: #436495;
    --elsa-blue-transparent: rgba(67, 100, 149, 0.1);
    --whitesmoke: whitesmoke;
    --light-grey: #D8D8D9;
    --shadow-grey: #ACACAC;
    --green: #5D9543;
    --closed-doc: #EBEBEB;
    --closed-doc-hover: #C9C9C9;
    --sign-doc: #FFE3E3;
    --sign-doc-hover: #FFBABA;
    --red: #C93A3A;

    --headerFadeOne: rgba(0, 0, 0, 0.1);
    --headerFadeTwo: rgba(0, 0, 0, 0.2);
    --headerFadeThree: rgba(0, 0, 0, 0.3);
}

[data-theme="darkMode"] {
    --dark-grey: #D8D8D9;
    --elsa-blue: whitesmoke;
    --elsa-blue-transparent: rgba(245, 245, 245, 0.3);
    --whitesmoke: #23292f;
    --light-grey: #ACACAC;
    --shadow-grey: #D8D8D9;

    --headerFadeOne: rgba(0, 0, 0, 0.5);
    --headerFadeTwo: rgba(0, 0, 0, 0.6);
    --headerFadeThree: rgba(0, 0, 0, 0.7);
}


/* Global changes */
html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}


/* App Settings */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--dark-grey);
    margin: 0;
    padding-bottom: 0;
    max-width: 100%;
}


/* Router Links */
.link {
    color: var(--elsa-blue);
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: var(--elsa-blue);
}


/* Buttons */
.dark-btn {
    background-color: var(--dark-grey);
    color: var(--whitesmoke);
    box-shadow: 0 0.2vw 0.33vw var(--shadow-grey);
    border: 0.13vw solid var(--dark-grey);
    border-radius: 0.33vw;
}

.light-btn {
    background-color: var(--whitesmoke);
    color: var(--dark-grey);
    box-shadow: 0 0.2vw 0.33vw var(--shadow-grey);
    border: 0.13vw solid var(--dark-grey);
    border-radius: 0.33vw;
}

.light-btn:focus {
    background-color: var(--whitesmoke);
    color: var(--dark-grey);
    border: 0.13vw solid var(--dark-grey);
    box-shadow: 0 0.2vw 0.33vw var(--shadow-grey);
}

.dark-btn:hover, .light-btn:hover {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    transition-duration: 0.4s;
}

.elsa-blue-btn {
    background-color: var(--elsa-blue);
    color: var(--whitesmoke);
    box-shadow: 0 0.2vw 0.33vw var(--shadow-grey);
    border: 0.03vw solid var(--dark-grey);
    border-radius: 0.33vw;
}

.elsa-blue-btn:focus {
    background-color: var(--elsa-blue);
    color: var(--whitesmoke);
    box-shadow: 0 0.2vw 0.33vw var(--shadow-grey);
    border: 0.03vw solid var(--dark-grey);
    outline: 0.06vw solid var(--light-grey);
    outline-offset: 0;
}

.green-btn {
    background-color: var(--green);
    color: var(--light-grey);
    box-shadow: 0 0.2vw 0.33vw var(--shadow-grey);
    border: 0.13vw solid var(--dark-grey);
    border-radius: 0.33vw;
}

.green-btn:focus {
    background-color: var(--green);
    color: var(--light-grey);
    border: 0.13vw solid var(--dark-grey);
    box-shadow: 0 0.2vw 0.33vw var(--shadow-grey);
}

.elsa-blue-btn:hover:enabled, .green-btn:hover:enabled {
    background-color: var(--whitesmoke);
    color: var(--dark-grey);
    transition-duration: 0.4s;
}

.dark-btn:disabled, .light-btn:disabled, .elsa-blue-btn:disabled, .green-btn:disabled {
    color: var(--light-grey);
    opacity: 0.5;
    cursor: not-allowed;
}
