/* General */

.list-group-item {
    background-color: var(--user-info);
    border-color: var(--light-grey);
    padding: 0.5em 1.25em;;
}

.card {
    width: 100%;
    margin-bottom: 5vh;
    background-color: var(--whitesmoke);
    border-color: var(--dark-grey);
}

.responsive-img {
    height: 8em;
    width: auto;
}

#responsive-signature {
    height: 3em;
}

.logo-border {
    border-color: var(--light-grey);
    border-width: 1px;
    border-style: solid;
    padding: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}



.ql-editor {
    height: 10em !important;
}

.ql-container .ql-snow{
    height: 10em !important;
}


#__BVID__167___BV_modal_outer_ {
    z-index: 10000000 !important;
}

#__BVID__168___BV_modal_outer_ {
    z-index: 10000000 !important;
}

#__BVID__126___BV_modal_outer_ {
    z-index: 10000000 !important;
}
#modal-editor___BV_modal_outer_ {
    z-index: 10000000 !important;;
}

#__BVID__127___BV_modal_outer_ {
    z-index: 10000000 !important;
}
#__BVID__264___BV_modal_outer_ {
    z-index: 10000000 !important;
}

/deep/ .modal-content {
    background-color: var(--whitesmoke);
    color: var(--dark-grey);
}

/deep/ .modal-content .modal-header .close {
    color: var(--dark-grey);
}

/deep/ .form-control {
    background-color: var(--whitesmoke);
    color: var(--dark-grey);
}

/deep/ .ql-snow .ql-stroke {
    stroke: var(--dark-grey) !important;
}
/deep/ .ql-snow .ql-fill {
    stroke: var(--dark-grey);
}

/deep/ .ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: var(--dark-grey);
}

/deep/ .ql-snow .ql-picker.ql-font .ql-picker-label::before, .ql-snow .ql-picker.ql-font .ql-picker-item::before {
    stroke: var(--dark-grey);
    color: var(--dark-grey);
}

/deep/ .ql-snow .ql-picker-label {
    color: var(--dark-grey) !important;
}

/deep/ .ql-snow .ql-picker-options {
    color: var(--dark-grey) !important;
    background-color: var(--whitesmoke) !important;
}

/deep/ .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke {
    stroke: var(--dark-grey);
    color: var(--dark-grey);
}

/deep/ .ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    color: var(--dark-grey) !important;
}

/deep/ .ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: var(--dark-grey) !important;
}
/deep/ .ql-snow .ql-picker-options .ql-picker-item {
    color: var(--dark-grey) !important;
}

/deep/ .modal.show .modal-dialog {
    padding-top: 3em;
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h4 {
        font-size: .92em;
        text-overflow-mode: ellipse;
    }

    span, .elsa-blue-btn, .light-btn {
        font-size: 0.6em;
    }

    .toggle-container {
        font-size: 0.4em;
    }

    .bigSpan {
        font-size: 1em;
    }

    .responsive-img {
        font-size: 0.7em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h4 {
        font-size: .92em;
        text-overflow-mode: ellipse;
    }

    span, .elsa-blue-btn, .light-btn {
        font-size: 0.7em;
    }

    .toggle-container {
        font-size: 0.5em;
    }

    .bigSpan {
        font-size: 1.2em;
    }

    .responsive-img {
        font-size: 0.6em;
    }
}

/* Large Phones in landscape mode */
@media (min-width: 768px) and (max-width: 991.98px) and (max-height: 499.98px) {
    h4 {
        font-size: .92em;
        text-overflow-mode: ellipse;
    }

    span, .elsa-blue-btn, .light-btn {
        font-size: 0.7em;
    }

    .toggle-container {
        font-size: 0.5em;
    }

    .bigSpan {
        font-size: 1.2em;
    }

    .responsive-img {
        font-size: 0.9em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 500px) {
    h4 {
        font-size: 1.25em;
        text-overflow-mode: ellipse;
    }

    span, .elsa-blue-btn, .light-btn {
        font-size: 0.7em;
    }

    .toggle-container {
        font-size: 0.5em;
    }

    .bigSpan {
        font-size: 1.2em;
    }

    .responsive-img {
        font-size: 0.9em;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h4 {
        font-size: 1.2em;
        text-overflow-mode: ellipse;
    }

    span, .elsa-blue-btn, .light-btn {
        font-size: 0.9em;
    }

    .toggle-container {
        font-size: 0.7em;
    }

    .bigSpan {
        font-size: 1.6em;
    }

    .responsive-img {
        font-size: 1em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    h4 {
        font-size: 1.3em;
        text-overflow-mode: ellipse;
    }

    .bigSpan {
        font-size: 1.6em;
    }

    .toggle-container {
        font-size: 0.8em;
    }

    .responsive-img {
        font-size: 1em;
    }
}

/* Message settings */
.my-icon {
    fill: var(--elsa-blue);
    height: 1em;
    width: auto;
}

/* Security settings */
.elsa-blue-btn, .light-btn {
    padding: 0.25em 0.25em 0;
    border: 0.03em solid var(--dark-grey);
    width: 7em;
}

.elsa-blue-btn:focus, .light-btn:focus {
    border: 0.03vw solid var(--dark-grey);
}

.light-btn {
    background-color: var(--elsa-blue-transparent);
}

.light-btn:hover {
    background-color: var(--light-grey);
}

/* Toggle */
.toggle-container {
    width: 8.5em;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Saved notification */
.saved-enter-active, .saved-leave-active {
    transition: opacity .7s
}

.saved-enter, .saved-leave-to {
    opacity: 0
}

/* Color picker */
.color-picker {
    border: none;
    width: 7em;
    height: 2em;
}

.reset-icon {
    fill: var(--dark-grey);
    height: 1.5em;
    width: auto;
    margin-right: 1em;
}

/* Alert */
.alert {
    background-color: var(--sign-doc-hover);
    color: var(--red);
    border-color: var(--red);
}
