.spinner-border {
    width: 1em;
    height: 1em;
    border-width: 0.12em;
    border-left-color: var(--elsa-blue);
    border-top-color: var(--elsa-blue);
    border-bottom-color: var(--elsa-blue);
}

.button-txt {
    float: left;
}

h4 {
    color: var(--elsa-blue);
    font-weight: 503;
}

.saved-enter-active, .saved-leave-active {
    transition: opacity .7s
}

.saved-enter, .saved-leave-to {
    opacity: 0
}

.my-icon {
    fill: var(--elsa-blue);
    height: 1em;
    width: auto;
    margin-left: 0.2em;
}

.my-icon:hover {
    cursor: pointer;
}

.responsive-img {
    height: 20em;
    width: auto;
}

.logo {
    height: 1.2em;
    width: auto;
}

.content-div, .step {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    justify-content: center;
    display: flex;
    align-content: center;
}

.alert {
    background-color: var(--sign-doc-hover);
    color: var(--red);
    border-color: var(--red);
}

/* Modal */
.modal-mask {
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modalBackground);
    display: table;
    color: var(--dark-grey);
}

.modal-body {
    height: 100%;
    max-height: 100%;
    margin-top: 0;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-dialog {
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    min-width: 50%;
}

.modal-title {
    align-items: center;
    text-align: left;
}

.modal-header {
    border-color: var(--dark-grey);
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.pad {
    box-shadow: var(--elsa-blue) 0 1px 1px 2px;
    border-radius: 1vw 1vw 1vw 1vw;

    height: 10em;
    width: 35em;

    background-color: var(--pad-background);
}

/* Form */
.form-control {
    background-color: var(--whitesmoke);
    color: var(--dark-grey);
    border-color: var(--light-grey);
}

.form-control:focus {
    color: var(--dark-grey);
    background-color: var(--whitesmoke);
    border-color: var(--elsa-blue);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--elsa-blue-transparent);
}

.form-control::placeholder {
    color: var(--shadow-grey);
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
    color: var(--shadow-grey);
}

.form-control::-ms-input-placeholder {
    color: var(--shadow-grey);
}

/* Buttons */
.elsa-blue-btn, .light-btn {
    padding: 0.25em 1em 0;
    border: 0.03em solid var(--dark-grey);
    margin: 0.15em 0.15em;
}

.elsa-blue-btn:focus, .light-btn:focus {
    border: 0.03vw solid var(--dark-grey);
}

/* Modal  */

/deep/ .modal-class .modal.show .modal-dialog {
    margin-top: 3em;
    padding-top: 2em;
}

/deep/ .modal.show .modal-dialog {
    padding-top: 3em;
}

/deep/ .model-class > .modal-dialog > .modal-content {
    background-color: var(--whitesmoke);
    color: var(--dark-grey);
}

/deep/ .model-class > .modal-dialog > .modal-content > .modal-header .close {
    color: var(--dark-grey);
}


/* Progress bar */
.bar {
    background-color: var(--elsa-blue-transparent);
    color: var(--whitesmoke);
    width: 50%;
}

.bg-elsaBlue {
    background-color: var(--elsa-blue);
    color: var(--whitesmoke);
    font-size: 0.7em;
}

/* Heading */
.big-heading {
    animation-name: appearing;
    -webkit-animation-name: appearing;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    color: var(--elsa-blue);
    font-weight: 503;
    text-shadow: 4px 3px 0 var(--light-grey), 9px 8px 0 var(--elsa-blue-transparent);
}

@keyframes appearing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes appearing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .bg-elsaBlue {
        font-size: 0.5em;
    }

    .big-heading {
        font-size: 2.12em;
        text-overflow-mode: ellipse;
    }

    h4 {
        font-size: 1.12em;
        text-overflow-mode: ellipse;
    }

    .button-txt {
        font-size: 0.72em;
    }

    .step {
        font-size: .92em;
    }

    .content-div {
        font-size: .62em;
    }

    .responsive-img {
        font-size: 0.7em;
    }

    .navbar-brand, .nav-item {
        font-size: 0.5em;
    }

    .pad {
        width: auto;
        height: 8em;
        margin-left: -.3em;
    }


    .modal-fade .signature-pad {
        width: auto;

    }

    .modal-fade {
        width: 20em;
        display: inline-block;
    }

    .pt-2 {
        margin-left: -.3em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .big-heading {
        font-size: 2.12em;
        text-overflow-mode: ellipse;
    }

    h4 {
        font-size: 1.12em;
        text-overflow-mode: ellipse;
    }

    .step, .button-txt {
        font-size: .92em;
    }

    .content-div {
        font-size: .62em;
    }

    .responsive-img {
        font-size: 0.6em;
    }

    .navbar-brand, .nav-item {
        font-size: 0.41em;
    }

    .pad {
        width: auto;
        height: 8em;
        margin-left: -2.3em;
    }


    .modal-fade .signature-pad {
        width: auto;
        margin-left: 2em;

    }

    .modal-fade {
        width: 30em;
        display: inline-block;

    }

    .pt-2 {
        margin-left: -2em;
    }

}

/* Large Phones in landscape mode */
@media (min-width: 768px) and (max-width: 991.98px) and (max-height: 499.98px) {
    .big-heading {
        font-size: 2.12em;
        text-overflow-mode: ellipse;
    }

    h4 {
        font-size: 1.12em;
        text-overflow-mode: ellipse;
    }

    .step, .button-txt {
        font-size: .92em;
    }

    .content-div {
        font-size: .62em;
    }

    .responsive-img {
        font-size: 0.9em;
    }

    .navbar-brand, .nav-item {
        font-size: 0.41em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 500px) {
    .big-heading {
        font-size: 2.45em;
        text-overflow-mode: ellipse;
    }

    h4 {
        font-size: 1.45em;
        text-overflow-mode: ellipse;
    }

    .step, .button-txt {
        font-size: 1.25em;
    }

    .content-div {
        font-size: .95em;
    }

    .responsive-img {
        font-size: 0.9em;
    }

    .navbar-brand, .nav-item {
        font-size: 0.75em;
    }

    .pad {
        width: 30em;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .big-heading {
        font-size: 2.4em;
        text-overflow-mode: ellipse;
    }

    h4 {
        font-size: 1.4em;
        text-overflow-mode: ellipse;
    }

    .step, .button-txt {
        font-size: 1.2em;
    }

    .content-div {
        font-size: .9em;
    }

    .responsive-img {
        font-size: 1em;
    }

    .navbar-brand, .nav-item {
        font-size: 0.75em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .bg-elsaBlue {
        font-size: 0.8em;
    }

    .big-heading {
        font-size: 2.5em;
        text-overflow-mode: ellipse;
    }

    h4 {
        font-size: 1.5em;
        text-overflow-mode: ellipse;
    }

    .step, .button-txt {
        font-size: 1.3em;
    }

    .content-div {
        font-size: 1em;
    }


    .responsive-img {
        font-size: 1em;
    }

    .navbar-brand, .nav-item {
        font-size: 0.75em;
    }
}
